uname_os="$(uname -s)"
uname_machine="$(uname -m)"
case "${uname_os}" in
    Linux*)     machine=linux;;
    Darwin*)    
                if [ "$uname_machine" = "x86_64" ]; then
                    machine=mac;
                elif [ "$uname_machine" = "arm64" ]; then
                    machine=m1;
                fi;;
    *)          echo "machine ${uname_os} is undefined"; exit 1;;
esac
echo ${machine}

export CORE_DIR=$(pwd)
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$CORE_DIR/third_party/raisimLib/raisim/${machine}/lib:$CONDA_PREFIX/lib
export PYTHONPATH=$PYTHONPATH:$CORE_DIR/third_party/raisimLib/raisim/${machine}/lib
export CMAKE_PREFIX_PATH=$CMAKE_PREFIX_PATH:$CORE_DIR/third_party/raisimLib/raisim/${machine}
export RESOURCE_DIR=$CORE_DIR/resource
